#bear:hover #left-ear {
  transform: translateY(-5px);
  transition: all 1s linear;
}

#bear:hover #right-ear {
  transform: translateY(-5px);
  transition: all 1s linear;
}

#eyes {
  transform: translateX(-20%, 20%);
  animation: all 1s linear infinite alternate;
}
