#bear:hover #left-ear {
  transform: translateY(-5px);
}

#bear:hover #right-ear {
  transform: translateY(-5px);
}

.left-ear, .right-ear {
  transition: all 1s linear;
}

#eyes {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }

}
